:root {
    --background-color: #FBFBFB;
    --card-color: #023e8a;
    --primary-accent: #03045e;
    --secondary-accent: #00b4d8;
    --warning-red-accent:  rgb(255,15,15);
    --continue-green-accent: rgb(0,171,102);
}

body {
    background-color: var(--background-color);
    color: var(--card-color);
    font-family: 'Roboto Slab', serif;
    min-height: 90vh;
}

a{
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    margin: 2px;
    padding: 2px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

.button {
    padding: 10px;
    font-size: 14px;
    color: var(--background-color);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.light-button {
    background-color: var(--background-color);
    border: 1px solid var(--card-color);
    color: var(--card-color);
    margin-right: 5px;
}

.light-button:hover {
    background-color: var(--card-color);
    color: var(--background-color);
}

.dark-button {
    background-color: var(--card-color);
    border: 1px solid var(--card-color);
}

.dark-button:hover {
    background-color: var(--background-color);
    color: var(--card-color);
}

#start-button {
    background-color: var(--continue-green-accent);
    border: 1px solid var(--continue-green-accent);
}

#start-button:hover {
    background-color: var(--background-color);
    color: var(--continue-green-accent);
}

#delete-btn {
    background-color: var(--background-color);
    border: 1px solid var(--warning-red-accent);
    color: var(--warning-red-accent);
    margin-right: 5px;
}

#delete-btn:hover {
    background-color: var(--warning-red-accent);
    color: var(--background-color);
}

.headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.detail-container {
    padding: 10px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.detail {
    border: 1px solid var(--card-color);
    border-radius: 5px;
    padding: 5px;
}

.detail h4{
    padding: 0;
    margin: 0;
}

.detail p {
    padding: 0;
    margin: 0;
}









footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img {
    margin: 10px;
    width: 10%;
}