:root {
    --white-shade: #FFFFFF;
    --primary-color: #03256C;
    --purple: #800080;
    --red: #CC0202;
    --primary-font: 'Roboto Slab';
    --heading-font: 'Open Sans';
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 95vw;
    min-height: 98vh;

    background-color: var(--white-shade);
    font-family: var(--primary-font);
    color: var(--primary-color)
}

.content-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    max-width: 49%;

    align-self: stretch;
    flex-grow: 1;
}

.intro-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    align-self: stretch;
}

h1 {
    font-family: var(--heading-font), sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-family: var(--heading-font), sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
}

#logo {
    height: 30px;
    width: auto;
    margin: 3.5px 0px 3.5px 7.5px;
    filter: brightness(0) saturate(100%) invert(10%) sepia(40%) saturate(6724%) hue-rotate(219deg) brightness(86%) contrast(99%);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    align-self: stretch;
    margin: 10px 0px;
    width: 100%;
}

.error-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;

    align-self: stretch;

    margin: 10px 0px;

    font-family: var(--heading-font), sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.purple {
    border: 2px solid #800080;
    color: #800080;
    box-sizing: border-box;
}

.field-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0px;
  
    align-self: stretch;
}

label {
    font-family: var(--heading-font), sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;

    margin: 5px 0px;
}

input, textarea {
    font-size: 16px;
    padding: 5px;
    align-self: stretch;
    margin: 5px 0px;
    font-family: var(--primary-font), sans-serif;
}

.red {
    border: 2px solid #CC0202;
    box-sizing: border-box;
    color: #CC0202;
}

.multi-options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    align-self: stretch;
    margin: 10px 0px;
}

form #psw-container input {
    width: 100%;
    align-self: flex-start;
}

.dark-btn {
    font-family: var(--heading-font);
    font-size: 16px;
    font-weight: 600;
    padding: 5px 15px 5px 15px;
    background-color: var(--primary-color);
    color: var(--white-shade);
    border: 1px solid var(--white-shade);
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    width: 30%;
    
}

.dark-btn:hover {
    background-color: var(--white-shade);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    
}

h4 {
    font-weight: 300;
    margin: 10px 0px;
}