<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

        <title>Dashboard | Curabit</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
        <link rel="shortcut icon" type="image/ico" href="{{ url_for('static',filename='assets/favicon.png') }}" />
        <link href="{{ url_for('static',filename='css/dashboard.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <h1 style="font-weight: 300;">Welcome, <span style="font-weight: 600;">{{ pack['dispName'] }}</span></h1>
            <div id='button-container'>
                <a href="#" class="button light-button"><i class="fas fa-cog"></i>  Account</a>
                <a href="{{ url_for('logout') }}" class="button dark-button"><i class="fas fa-power-off"></i>  Log out</a>
            </div>
        </header>
        <hr>
        <main>
            <div class='section' id='clients'>
                <div class='headline'>
                    <h2 style="font-weight: 400; padding-left: 10px;">Clients</h2>
                    <p style="font-weight: 400; font-size: 22px; padding: 0px; margin: 0px; padding-right: 10px;">Click on a client to proceed</p>
                </div>
                <div class='card-container'>
                    <a href='#'>
                    <div class='card'>
                        <h3>Client's Name 1</h3>
                    </div>
                    </a>
                    <a href='#'>
                    <div class='card'>
                        <h3>Client's Name 1</h3>
                    </div>
                    </a>
                    <a href='#'>
                    <div class='card'>
                        <h3>Client's Name 1</h3>
                    </div>
                    </a>
                    <a href='#'>
                    <div class='card'>
                        <h3>Client's Name 1</h3>
                    </div>
                    </a>
                    <a href='#'>
                    <div class='card'>
                        <h3>Client's Name 1</h3>
                    </div>
                    </a>
                    <a href='#'>
                    <div class='card'>
                        <h3>Client's Name 1</h3>
                    </div>
                    </a>
                    <a href='#'>
                    <div class='card'>
                        <span id='large-plus'><i class="fas fa-plus-circle"></i></span>
                        <h3>Add New Client</h3>
                    </div>
                    </a>
                </div>
            </div>
            <hr>
            <div class='section' id='usage'>
                <div class='headline'>
                    <h2 style="font-weight: 400; padding-left: 10px;">Usage</h2>
                    <a href="#" class="button light-button"><i class="fas fa-history"></i>  View All Usage History</a>
                </div>
        </main>
        <footer>
            <img id='logo' src="{{ url_for('static',filename='assets/logo.svg') }}" alt="Curabit Logo"/>
        </footer>
    </body>
</html>