<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

        <title>Therapist's Registration | Curabit</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
        <link rel="shortcut icon" type="image/ico" href="{{ url_for('static',filename='assets/favicon.png') }}" />
        <link href="{{ url_for('static',filename='css/login.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <main>
            <img id='logo' src="{{ url_for('static',filename='assets/logo.svg') }}" alt="Curabit Logo"/>
            <h1>Therapist's Registration</h1>
            <form id='login_details' action='/' method="POST">
                <label class='form-el' for="name"><b>Full Name</b></label>
                <input class='form-el' type="text" placeholder="Enter Name" name="name" required>

                <label class='form-el' for="email"><b>Email Address</b></label>
                <input class='form-el' type="email" placeholder="Enter Email Address" name="email" required>

                <label class='form-el' for="psw"><b>Clinic's Name</b></label>
                <input class='form-el' type="text" placeholder="Enter Clinic's Name" name="psw" required>

                <label class='form-el' for="psw"><b>Clinic's Address</b></label>
                <textarea class='form-el' type="text" placeholder="Enter Clinic's Address" name="psw" required></textarea>

                <button class='form-el' type="submit">Register</button>
            </form>
        </main>
    </body>
</html>