{% extends "base-dashboard.html" %}

{% block title %}View Account{% endblock %}

{% block head_attachments %}
<style>
#details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4 {
    font-size: 18px;
    font-weight: 600;
}

h5 {
    font-size: 14px;
    font-weight: 400;
}

.sub-card-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-card {
    width: 100%;
    margin: 5px 0px 5px 0px;
    padding: 5px;
    border: 1px solid var(--primary-accent);
    border-radius: 5px;
}

</style>
{% endblock %}

{% block imp_button %}
<a href="{{ url_for('dashboard') }}" class='btn light-btn'><i class="fas fa-door-open"></i> Dashboard</a>
{% endblock %}

{% block headline %}Your Account{% endblock %}

{% block maincontent %}
<div class="section" id='details'>
    <div class="section-heading divided-row">
        <div class="left-side">
            <h3 style="font-size: 22px; font-weight: 600;">Here's what we know about you</h3>
        </div>
        <div class='right-side'>
            <a href="{{ url_for('edit_account') }}" class='btn light-btn'><i class="fas fa-edit"></i> Edit Details</a>
        </div>
    </div>
    <div class="sub-card-container">
        <div class="sub-card">
            <h5><i class="fas fa-id-card"></i> Your Name</h5>
            <h4>{{ current_user.th_name }}</h4>
        </div>
        <div class="sub-card">
            <h5><i class="fas fa-envelope"></i> Email</h5>
            <h4>{{ current_user.email }}</h4>
        </div>
        <div class="sub-card">
            <h5><i class="fas fa-clinic-medical"></i> Clinic Name</h5>
            <h4>{{ current_user.clinic_name }}</h4>
        </div>
        <div class="sub-card">
            <h5><i class="fas fa-map-marked-alt"></i> Clinic Address</h5>
            <h4>{{ current_user.clinic_add }}</h4>
        </div>
        <div class="sub-card">
            <h5><i class="fas fa-key"></i> Password</h5>
            <h4>Hidden for security purposes. You can change it using the edit details option.</h4>
        </div>
    </div>
</div>
{% endblock %}