{% extends "base-dashboard.html" %}

{% block title %}Add Client{% endblock %}

{% block head_attachments %}
<style>

main {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.error {
    width: 98%;
    align-self: flex-start;
    margin: 15px 0px 15px 0px;
    padding: 5px;
    font-size: 12px;
    border: 1px solid var(--red-accent-1);
    color: var(--red-accent-1);
    border-radius: 5px;
}

.btn {
    width: 25%;
}

form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
}

form label {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 5px;
    align-self: flex-start;
}

form input  {
    font-size: 15px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}

form select  {
    font-size: 15px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}

form input [type="email"] {
    width: 100%;
    align-self: flex-start;
}

form input [type="text"] {
    width: 100%;
    align-self: flex-start;
}

</style>
{% endblock %}

{% block imp_button %}
<a href="{{ url_for('dashboard') }}" class='btn light-btn'><i class="fas fa-door-open"></i> Dashboard</a>
{% endblock %}

{% block headline %}Add New Client{% endblock %}

{% block maincontent %}
    <form method="POST">
        {{ form.hidden_tag() }}
        
        <label for="clnt_name"><b><i class="fas fa-id-card"></i> Client's Name</b></label>
        {{ form.clnt_name(size=32) }}
        {% for error in form.clnt_name.errors %}
        <div class="error">
            <i class="fas fa-exclamation-circle"></i> {{ error }}
        </div>
        {% endfor %}

        <label for="gender"><b><i class="fas fa-venus-mars"></i> Gender</b></label>
        {{ form.gender }}
        {% for error in form.gender.errors %}
        <div class="error">
            <i class="fas fa-exclamation-circle"></i> {{ error }}
        </div>
        {% endfor %}

        <label for="ag"><b><i class="fas fa-baby"></i> Age</b></label>
        {{ form.age }}
        {% for error in form.age.errors %}
        <div class="error">
            <i class="fas fa-exclamation-circle"></i> {{ error }}
        </div>
        {% endfor %}
        
        <div>
            <a class="btn light-btn" href="{{ url_for('dashboard') }}">Cancel</a>
            {{ form.submit() }}
        </div>
        
    </form>

{% endblock %}