<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

        <title>{% block title %}{% endblock %} | Console by Curabit</title>
        <link rel="shortcut icon" type="image/ico" href="{{ url_for('static',filename='assets/favicon.png') }}" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
        
        <link href="{{ url_for('static',filename='css/base-dashboard.css') }}" rel="stylesheet" type="text/css" />
        {%block head_attachments %}{% endblock %}

    </head>
    <body>
        <header class='divided-row'>
            <div class="left-side">
                <h1>{{ current_user.th_name }}'s Console</h1>
            </div>
            <div class='right-side'>
                {% block imp_button %}{% endblock %}
                <a href="{{ url_for('logout') }}" class='btn red-btn'><i class="fas fa-power-off"></i> Logout</a>
            </div>
        </header>
        <main>
            <div class="page-headline centered-row">
                <h2>{% block headline %}{% endblock %}</h2>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="message">
                    <i class="fas fa-exclamation-circle"></i> {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            {%block maincontent %}{% endblock %}
        </main>
        <footer>
            <p>Need help? Shoot us an email at <a href='mailto:app-support@curabit.in' class='link-underline'>app-support@curabit.in</a></p>
        </footer>
    </body>
</html>