{% extends "base-entrance.html" %}

{% block title %}Log In{% endblock %}
{% block heading %}Log In{% endblock %}

{% block content %}
<form method="post" novalidate>
    {{ form.hidden_tag() }}
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="error-container purple">
                <p><i class="fas fa-exclamation-circle"></i> {{ message }}</p>
            </div>
            {% endfor %}
    {% endif %}
    {% endwith %}

    <div class='field-container'>
        <label for="email"><b><i class="fas fa-envelope"></i> Email Address</b></label>
            {{ form.email(size=70) }}
            {% for error in form.email.errors %}
                <div class="error-container red">
                    <i class="fas fa-exclamation-circle"></i> [{{ error }}]
                </div>
            {% endfor %}
    </div>

    <div class='field-container'>
        <label for="psw"><b><i class="fas fa-key"></i> Password</b></label>
        <div id="psw-container" style="width: 100%">
            {{ form.psw(size=32) }}
            <i class="far fa-eye togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
        </div>
        {% for error in form.psw.errors %}
        <div class="error-container red">
            <i class="fas fa-exclamation-circle"></i> [{{ error }}]
        </div>
        {% endfor %}
    </div>

    <div class="multi-options-container">
        <span>{{ form.remember_me() }} {{ form.remember_me.label }}</span>
        <label><a href="{{ url_for('forgotpsw') }}" class="link-underline">Forgot password?</a></label>
    </div>
    
    {{ form.submit() }} 

    <h4>Are you a therapist not registered with Curabit yet? <a href="{{ url_for('register') }}" class='link-underline' style="font-weight: 500;">Register now!</a></h4>
    
</form>
{% endblock %}