{% extends "base-entry.html" %}

{% block title %}Log In{% endblock %}
{% block heading %}Log In{% endblock %}

{% block content %}
<form method="post" novalidate>
    {{ form.hidden_tag() }}
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="error">
                <i class="fas fa-exclamation-circle"></i> {{ message }}
            </div>
            {% endfor %}
    {% endif %}
    {% endwith %}

    <label for="email" style="align-self: flex-start;"><b><i class="fas fa-envelope"></i> Email Address</b></label>
    {{ form.email(size=70) }}
    {% for error in form.email.errors %}
        <div class="error">
            <i class="fas fa-exclamation-circle"></i> [{{ error }}]
        </div>
    {% endfor %}
    
    <label for="psw" style="align-self: flex-start;"><b><i class="fas fa-key"></i> Password</b></label>
    <div id="psw-container" style="width: 100%">
        {{ form.psw(size=32) }}
        <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
    </div>
    {% for error in form.psw.errors %}
    <div class="error">
        <i class="fas fa-exclamation-circle"></i> [{{ error }}]
    </div>
    {% endfor %}

    <div style="width: 80%; align-self: center; justify-content: space-between;" id="form-options">
        <span>{{ form.remember_me() }} {{ form.remember_me.label }}</span>
        <a href="{{ url_for('forgotpsw') }}" class="link-underline">Forgot password?</a>
    </div>
    
    {{ form.submit() }} 

    <p style="align-self: center; margin-top: 10px;">Are you a therapist not registered with Curabit yet? <a href="{{ url_for('register') }}" class='link-underline' style="font-weight: 500;">Register now!</a></p>
    
</form>
{% endblock %}