{% extends "base-entrance.html" %}

{% block title %}Therapist's Registration{% endblock %}
{% block heading %}Therapist's Registration{% endblock %}

{% block content %}
<form method="post" novalidate>
    {{ form.hidden_tag() }}
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="error-container red">
                <p><i class="fas fa-exclamation-circle"></i> {{ message }}</p>
            </div>
            {% endfor %}
    {% endif %}
    {% endwith %}

    <div class='field-container'>
        <label for="th_name"><b><i class="fas fa-id-card"></i> Full Name</b></label>
        {{ form.th_name(size=32) }}
        {% for error in form.th_name.errors %}
            <div class="error-container red">
                <p><i class="fas fa-exclamation-circle"></i> {{ error }}</p>
            </div>
        {% endfor %}
    </div>

    <div class='field-container'>
        <label for="email"><b><i class="fas fa-envelope"></i> Email Address</b></label>
            {{ form.email(size=70) }}
            {% for error in form.email.errors %}
                <div class="error-container red">
                    <p><i class="fas fa-exclamation-circle"></i> {{ error }}</p>
                </div>
            {% endfor %}
    </div>

    <div class='field-container'>
        <label for="clinic_name"><b><i class="fas fa-envelope"></i> Clinic Name</b></label>
            {{ form.clinic_name(size=70) }}
            {% for error in form.clinic_name.errors %}
                <div class="error-container red">
                    <p><i class="fas fa-exclamation-circle"></i> {{ error }}</p>
                </div>
            {% endfor %}
    </div>

    <div class='field-container'>
        <label for="clinic_add"><b><i class="fas fa-envelope"></i> Clinic Address</b></label>
            {{ form.clinic_add }}
            {% for error in form.clinic_add.errors %}
                <div class="error-container red">
                    <p><i class="fas fa-exclamation-circle"></i> {{ error }}</p>
                </div>
            {% endfor %}
    </div>

    <div class='field-container'>
        <label for="psw"><b><i class="fas fa-key"></i> Create Password</b></label>
        <div id="psw-container" style="width: 100%">
            {{ form.psw(size=32) }}
            <i class="far fa-eye togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
        </div>
        {% for error in form.psw.errors %}
        <div class="error-container red">
            <p><i class="fas fa-exclamation-circle"></i> {{ error }}</p>
        </div>
        {% endfor %}
    </div>

    <div class='field-container'>
        <label for="psw2"><b><i class="fas fa-key"></i> Confirm Password</b></label>
        <div id="psw-container" style="width: 100%">
            {{ form.psw2(size=32) }}
            <i class="far fa-eye togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
        </div>
        {% for error in form.psw2.errors %}
        <div class="error-container red">
            <p><i class="fas fa-exclamation-circle"></i> {{ error }}</p>
        </div>
        {% endfor %}
    </div>

    <div id="options-container">
        <label>{{ form.agreement() }} By signing up, I agree to the <a href="#TODO: Add link to terms and conditions" class='link-underline' style="font-weight: 600;">terms and conditions</a> and the <a href="#TODO: Add link to privacy policy" class='link-underline' style="font-weight: 600;">privacy policy</a>.</label>
        {% for error in form.agreement.errors %}
        <div class="error-container red">
            <p><i class="fas fa-exclamation-circle"></i> {{ error }}</p>
        </div>
        {% endfor %}
    </div>
    
    {{ form.submit() }} 

    <h4>Already registered as a therapist? <a href="{{ url_for('login') }}" class='link-underline' style="font-weight: 500;">Log in now!</a></h4>
    
</form>
{% endblock %}