<html>
    <head>
        <meta charset='UTF-8'>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <meta http-equiv='Content-Style-Type' content='text/css'>
        <meta name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0'>

        <title>{{ current_user.name }}'s Dashboard | Console by Curabit</title>
        <link rel='shortcut icon' type='image/ico' href='{{ url_for("static",filename="assets/favicon.png") }}' />

        <link rel='preconnect' href='https://fonts.googleapis.com' />
        <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.4/css/all.css' integrity='sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm' crossorigin='anonymous'>
        <link href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet'> 

        <link href='{{ url_for("static",filename="css/therapist.css") }}' rel='stylesheet' type='text/css' />
        <script src='{{ url_for("static",filename="js/modal_controls.js") }}'></script>
    </head>
    <body>
        <header class='divided-row'>
            <div class='row-side-container'>
                <a href="{{ url_for('index') }}" class="link-no-underline">
                    <h3 style="display: inline; font-size: 20px;">{{ current_user.name }}</h3>
                    <span style="font-size: 20px; font-family: 'Open Sans', sans-serif; font-weight: 300; display: inline;"> | Console</span>
                </a>
            </div>
            <div class='row-side-container'>
                <button onclick='modal_load("addHeadset")' class='btn blue-btn-dark' style='margin: 0px 5px;'><i class='fas fa-vr-cardboard'></i> Headset</button>
                <a class='btn red-btn-dark' href='{{ url_for("logout") }}'><i class='fas fa-sign-out-alt'></i> Logout</a>
            </div>
        </header>
        <main style='width: 100%;'>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flashed-msg">
                            <p style="font-size: 14px;"><i class="fas fa-bell"></i> {{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class='section'>
                <h1>Clients</h1>
                {% if not cls %}
                    <div id='none-yet'>
                        <img src='{{ url_for("static",filename="assets/admin_svg/none-yet.svg") }}' id='none-svg' style='height: 350px;'>
                        <h2>No clients have been added yet.</h2>
                        <button onclick='modal_load("addClient")' class='btn blue-btn-light' style="font-size: 18px;">Add a client</button>
                    </div>
                {% else %}
                <div class='card-container' style='width: 100%;'>
                    {% for cl in cls %}
                    <div class='card divided-row'>
                        <div class='row-side-container'>
                            <h3>{{ cl.name }}</h3>
                            <span style='font-size: 12px;'>{{ cl.age }} | {{ cl.sex }}</span>    
                        </div>
                        <div class='row-side-container'>
                            <button onclick='modal_load("startSession")' class='btn blue-btn-dark' style="margin: 5px 0px;">Start Session</button>
                            <a class='btn red-btn-dark' href="#TODO">Delete Client</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button onclick='modal_load("addClient")' class='btn blue-btn-light' style="margin: 5px 0px;">Add a client</button>
                {% endif %}
            </div>
        </main>
        <div class='modal' id='addHeadset'>
            <div class='modal-window'>
                <div class='divided-row'>
                    <div class='row-side-container'>
                        <h2>Headset Configuraion</h2>
                    </div>
                    <div class='row-side-container'>
                        <button class='btn blue-btn-light close-btn' style='margin: 0px;'><i class='fas fa-times'></i></button>
                    </div>
                </div>
                <form action='{{ url_for("pair_headset") }}' method='POST'>
                    <div class='field-container'>
                        <label for='code'>Headset Code</label>
                        <input type='text' id='code' name='code' required autofocus autocomplete="off" value='{{ current_user.hcode }}'>
                    </div>

                    <button type='submit' class='btn blue-btn-dark' style='font-size: 14px;'>Link Headset</button>
                </form>
            </div>
        </div>
        <div class='modal' id='addClient'>
            <div class='modal-window'>
                <div class='divided-row'>
                    <div class='row-side-container'>
                        <h2>Add New Client</h2>
                    </div>
                    <div class='row-side-container'>
                        <button class='btn blue-btn-light close-btn' style='margin: 0px;'><i class='fas fa-times'></i></button>
                    </div>
                </div>
                <form action='{{ url_for("add_client") }}' method='POST'>
                    <div class='field-container'>
                        <label for='name'>Name</label>
                        <input type='text' id='name' name='name' required autofocus autocomplete="off">
                    </div>

                    <div class='field-container'>
                        <label for='age'>Age</label>
                        <input type='number' name='age' id='age' min='18' max='75' step='1' autocomplete="off" required>
                    </div>

                    <div class='field-container'>
                        <label for='sex'>Sex</label>
                        <input type='text' name='sex' list='sexes' autocomplete="off" id='sex' />
                        <datalist id='sexes'>
                            <option value='Male'>Male</option>
                            <option value='Female'>Female</option>
                        </datalist>
                    </div>

                    <button type='submit' class='btn blue-btn-dark' style='font-size: 14px;'>Add Client</button>
                </form>
            </div>
        </div>
        <div class='modal' id='startSession'>
            <div class='modal-window'>
                <div class='divided-row'>
                    <div class='row-side-container'>
                        <h2>Start Session</h2>
                    </div>
                    <div class='row-side-container'>
                        <button class='btn blue-btn-light close-btn' style='margin: 0px;'><i class='fas fa-times'></i></button>
                    </div>
                </div>
                <div class='scenes-container'>
                    <a class='btn blue-btn-light' href="#TODO">Scene 1</a>
                    <a class='btn blue-btn-light' href="#TODO">Scene 2</a>
                    <a class='btn blue-btn-light' href="#TODO">Scene 3</a>
                    <a class='btn blue-btn-light' href="#TODO">Scene 1</a>
                    <a class='btn blue-btn-light' href="#TODO">Scene 2</a>
                    <a class='btn blue-btn-light' href="#TODO">Scene 3</a>
                    <a class='btn blue-btn-light' href="#TODO">Scene 1</a>
                    <a class='btn blue-btn-light' href="#TODO">Scene 2</a>
                    <a class='btn blue-btn-light' href="#TODO">Scene 3</a>
                    <a class='btn blue-btn-light' href="#TODO">Scene 1</a>
                    <a class='btn blue-btn-light' href="#TODO">Scene 2</a>
                    <a class='btn blue-btn-light' href="#TODO">Scene 3</a>
                </div>
            </div>
        </div>
    </body>
</html>